<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Muestra los "ultimos" productos -->
			<h2 class="col-12"></h2>
			<form class="formPropio" action="/product/add" method="POST">

				<input type="hidden" name="clienteId" value="<%= usuario.id %>">
			 
				<label class="form-label"for="nombreProd">Nombre del producto</label><br>
				<input class="form-input" type="text" id="nombreProd" name="nombreProd" required><br>
				
				<label class="form-label" for="imagenProd">Imagen</label><br>
				<input class="form-input file-select" type="text" id="imagen" name="imagenProd" required><br>

				<label class="form-label" for="descripcion">Descripción</label><br>
				<textarea class="form-input" id="descripcion" name="descripcion" rows="4" required></textarea><br>
			 
				<button type="submit" class="buy-now-button botonRegister">Agregar Producto</button>
			</form>
		</div>
	</div>
			

	<!-- footer -->
	<%- include("./partials/footer") %>

	<!-- /footer -->
</body>

</html>