<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Muestra los "ultimos" productos -->
			<h2 class="col-12"></h2>
			<form class="formPropio" action="/users/profile" method="get">
				<label class="form-label" for="imagen">Imagen</label><br>
				<input class="form-input file-select" type="file" id="imagen" name="imagen" required><br>
			 
				<label class="form-label"for="nombre">Nombre del producto</label><br>
				<input class="form-input" type="text" id="nombre" name="nombre" required><br>
			 
				<label class="form-label" for="descripcion">Descripción</label><br>
				<textarea class="form-input" id="descripcion" name="descripcion" rows="4" required></textarea><br>
			 
				<input class="buy-now-button botonRegister" type="submit" value="Agregar producto">
			</form>
		</div>
	</div>
			

	<!-- footer -->
	<%- include("./partials/footer") %>

	<!-- /footer -->
</body>

</html>